@model IEnumerable<ArtisanELearningSystem.Entities.Course>

@{
    ViewData["Title"] = "Home Page";
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from gambolthemes.net/html-items/cursus_main_demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 May 2023 11:58:55 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Cursus - Index</title>

    <link rel="icon" type="image/png" href="/curus/images/fav.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel="stylesheet">
    <link href="/curus/vendor/unicons-2.0.1/css/unicons.css" rel="stylesheet">
    <link href="/curus/css/vertical-responsive-menu.min.css" rel="stylesheet">
    <link href="/curus/css/style.css" rel="stylesheet">
    <link href="/curus/css/responsive.css" rel="stylesheet">
    <link href="/curus/css/night-mode.css" rel="stylesheet">

    <link href="/curus/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/curus/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="/curus/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/curus/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/curus/vendor/semantic/semantic.min.css">
    <style>
        #courses-container{
            display: flex;
            flex-wrap: wrap;
        }
       
    </style>
</head>
<body>

    <header class="header clearfix">
        <div class="main_logo" id="logo">
            <a href="index.html"><img src="/curus/images/logo.svg"></a>
            <a href="index.html"><img class="logo-inverse" src="/curus/images/ct_logo.svg"></a>
        </div>
        <div class="top-category">
            <div class="ui compact menu cate-dpdwn">
                <div class="ui simple dropdown item">
                    <a href="#" class="option_links p-0" title="categories"><i class="uil uil-apps"></i></a>
                    <div class="menu dropdown_category5">
                        <!-- Categories links -->
                        <a href="#" class="item channel_item" data-category="Art & Painting">Art & Painting</a>
                        <a href="#" class="item channel_item" data-category="Photography & Videography">Photography & Videography</a>
                        <a href="#" class="item channel_item" data-category="Design & Graphics">Design & Graphics</a>
                        <a href="#" class="item channel_item" data-category="Fashion & Textile Design">Fashion & Textile Design</a>
                        <a href="#" class="item channel_item" data-category="Crafts & DIY">Crafts & DIY</a>
                        <a href="#" class="item channel_item" data-category="Woodworking & Carpentry">Woodworking & Carpentry</a>
                        <a href="#" class="item channel_item" data-category="Jewelry Making & Metalsmithing">Jewelry Making & Metalsmithing</a>
                        <a href="#" class="item channel_item" data-category="Pottery & Ceramics">Pottery & Ceramics</a>
                        <a href="#" class="item channel_item" data-category="Sculpture">Sculpture</a>
                        <a href="#" class="item channel_item" data-category="Calligraphy">Calligraphy</a>
                        <a href="#" class="item channel_item" data-category="Paper Crafts">Paper Crafts</a>
                        <a href="#" class="item channel_item" data-category="Glassblowing">Glassblowing</a>
                        <a href="#" class="item channel_item" data-category="Knitting & Crocheting">Knitting & Crocheting</a>
                        <a href="#" class="item channel_item" data-category="Embroidery & Needlework">Embroidery & Needlework</a>
                        <a href="#" class="item channel_item" data-category="Brewing & Fermentation">Brewing & Fermentation</a>
                        <a href="#" class="item channel_item" data-category="Sewing & Tailoring">Sewing & Tailoring</a>
                        <a href="#" class="item channel_item" data-category="Candle Making">Candle Making</a>
                        <a href="#" class="item channel_item" data-category="Soap Making">Soap Making</a>
                        <a href="#" class="item channel_item" data-category="Digital Art">Digital Art</a>
                        <a href="#" class="item channel_item" data-category="Mixed Media Art">Mixed Media Art</a>
                        <a href="#" class="item channel_item" data-category="Printmaking">Printmaking</a>
                        <a href="#" class="item channel_item" data-category="Visual Merchandising">Visual Merchandising</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="search120">
            <div class="ui search">
                <div class="ui left icon input swdh10">
                    <input class="prompt srch10" type="text" placeholder="Search for Tuts Videos, Tutors, Tests and more..">
                    <i class="uil uil-search-alt icon icon1"></i>
                </div>
            </div>
        </div>
        <div class="header_right">
            <ul>
                <li>
                    <a href="shopping_cart.html" class="option_links" title="cart"><i class="uil uil-shopping-cart-alt"></i><span class="noti_count">2</span></a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="SignIn" class="upload_btn" title="Create New Course">Sign in</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="SignUp" class="upload_btn" title="Create New Course">Sign up</a>
                </li>



            </ul>
        </div>
    </header>


    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <br />
                    <br />
                    <div class="section3125 mt-50">
                        <h4 class="item_title">Featured Courses</h4>
                        <a href="#" class="see150">See all</a>
                        <div class="la5lo1">
                            <div class="owl-carousel featured_courses owl-theme">
                               

                                <!-- Courses will be dynamically loaded here -->
                                <div class="item" id="courses-container">


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section3125 mt-30">
                        <h4 class="item_title">Newest Courses</h4>
                        <a href="#" class="see150">See all</a>
                        <div class="la5lo1">
                            <div class="owl-carousel featured_courses owl-theme">
                                @foreach (var item in Model) {
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <a asp-controller="Course" asp-action="CourseDetailView" asp-route-id="@item.Id" class="fcrse_img">
                                            <img src="/posters/@item.Poster">
                                            <div class="course-overlay">
                                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                <div class="crse_timer">
                                                    @item.Lectures.FirstOrDefault()?.Runtime
                                                </div>
                                            </div>
                                        </a>
                                        <div class="fcrse_content">
                                            <div class="eps_dots more_dropdown">
                                                <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                                <div class="dropdown-content">
                                                    <span><i class="uil uil-share-alt"></i>Share</span>
                                                    <span><i class="uil uil-heart"></i>Save</span>
                                                    <span><i class="uil uil-ban"></i>Not Interested</span>
                                                    <span><i class="uil uil-windsock"></i>Report</span>
                                                </div>
                                            </div>
                                            <div class="vdtodt">
                                                <span class="vdt14">@item.ViewCount views</span>
                                                <span class="vdt14">@item.TimeAgo</span>
                                            </div>
                                                <a asp-controller="Course" asp-action="CourseDetailView" asp-route-id="@item.Id" class="crse14s">@item.Description</a>
                                            <a href="#" class="crse-cate">@item.Category | @item.Level</a>
                                            <div class="auth1lnkprce">
                                                <p class="cr1fot">By <a href="#">@item.Instructor?.Name</a></p>
                                                    <div class="prce142">
                                                        @{
                                                            decimal price = item.Price ?? 0;
                                                            decimal discount = item.Discount ?? 0;
                                                            decimal total = price - discount;
                                                        }
                                                        $@total.ToString("0.00")
                                                    </div>
                                                <button class="shrt-cart-btn" title="cart"><i class="uil uil-shopping-cart-alt"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              }
                            </div>
                        </div>
                    </div>
                    <div class="section3126">
                        <div class="row">
                            <div class="col-xl-6 col-lg-12 col-md-6">
                                <div class="value_props">
                                    <div class="value_icon">
                                        <i class="uil uil-history"></i>
                                    </div>
                                    <div class="value_content">
                                        <h4>Go at your own pace</h4>
                                        <p>Enjoy lifetime access to courses on Edututs+'s website</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-6">
                                <div class="value_props">
                                    <div class="value_icon">
                                        <i class="uil uil-user-check"></i>
                                    </div>
                                    <div class="value_content">
                                        <h4>Learn from industry experts</h4>
                                        <p>Select from top instructors around the world</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-6">
                                <div class="value_props">
                                    <div class="value_icon">
                                        <i class="uil uil-play-circle"></i>
                                    </div>
                                    <div class="value_content">
                                        <h4>Find video courses on almost any topic</h4>
                                        <p>Build your library for your career and personal growth</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-6">
                                <div class="value_props">
                                    <div class="value_icon">
                                        <i class="uil uil-presentation-play"></i>
                                    </div>
                                    <div class="value_content">
                                        <h4>100,000 online courses</h4>
                                        <p>Explore a variety of fresh topics</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section3125 mt-50">
                        <h4 class="item_title">Popular Instructors</h4>
                        <a href="all_instructor.html" class="see150">See all</a>
                        <div class="la5lo1">
                            <div class="owl-carousel top_instrutors owl-theme">
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="instructor_profile_view.html"><img src="/curus/images/left-imgs/img-1.jpg"></a>
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="instructor_profile_view.html" class="tutor_name">John Doe</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Wordpress &amp; Plugin Tutor</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            <div class="tut1250">
                                                <span class="vdt15">100K Students</span>
                                                <span class="vdt15">15 Courses</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="instructor_profile_view.html"><img src="/curus/images/left-imgs/img-2.jpg"></a>
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="instructor_profile_view.html" class="tutor_name">Kerstin Cable</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Language Learning Coach, Writer, Online Tutor</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            <div class="tut1250">
                                                <span class="vdt15">14K Students</span>
                                                <span class="vdt15">11 Courses</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="instructor_profile_view.html"><img src="/curus/images/left-imgs/img-3.jpg"></a>
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="instructor_profile_view.html" class="tutor_name">Jose Portilla</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Head of Data Science, Pierian Data Inc.</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            <div class="tut1250">
                                                <span class="vdt15">1M Students</span>
                                                <span class="vdt15">25 Courses</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="instructor_profile_view.html"><img src="/curus/images/left-imgs/img-4.jpg"></a>
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="instructor_profile_view.html" class="tutor_name">Farhat Amin</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Cookery Coach</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            <div class="tut1250">
                                                <span class="vdt15">1.5K Students</span>
                                                <span class="vdt15">9 Courses</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="instructor_profile_view.html"><img src="/curus/images/left-imgs/img-5.jpg"></a>
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="instructor_profile_view.html" class="tutor_name">Kyle Pew</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Microsoft Certified Trainer - 380,000+ Udemy Students</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            <div class="tut1250">
                                                <span class="vdt15">300K Students</span>
                                                <span class="vdt15">18 Courses</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="instructor_profile_view.html"><img src="/curus/images/left-imgs/img-7.jpg"></a>
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="instructor_profile_view.html" class="tutor_name">Jaysen Batchelor</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Illustrator &amp; Designer</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            <div class="tut1250">
                                                <span class="vdt15">491K Students</span>
                                                <span class="vdt15">13 Courses</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="instructor_profile_view.html"><img src="/curus/images/left-imgs/img-8.jpg"></a>
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="instructor_profile_view.html" class="tutor_name">Quinton Batchelor</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Photographer & Instructor</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            <div class="tut1250">
                                                <span class="vdt15">364K Students</span>
                                                <span class="vdt15">6 Courses</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="instructor_profile_view.html"><img src="/curus/images/left-imgs/img-6.jpg"></a>
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="instructor_profile_view.html" class="tutor_name">Eli Natoli</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Entrepreneur - Passionate Teacher</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            <div class="tut1250">
                                                <span class="vdt15">615K Students</span>
                                                <span class="vdt15">12 Courses</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="right_side">

                        <div class="fcrse_3">
                            <div class="cater_ttle">
                                <h4>Live Streaming</h4>
                            </div>
                            <div class="live_text">
                                <div class="live_icon"><i class="uil uil-kayak"></i></div>
                                <div class="live-content">
                                    <p>Set up your channel and stream live to your students</p>
                                    <button class="live_link" onclick="window.location.href = '@Url.Action("SignIn", "Home")';">Get Started</button>
                                    <span class="livinfo">Info : This feature only for 'Instructors'.</span>
                                </div>
                            </div>
                        </div>
                        <div class="get1452">
                            <h4>Get personalized recommendations</h4>
                            <p>Answer a few questions for your top picks</p>
                            <button class="Get_btn" onclick="window.location.href = '#';">Get Started</button>
                        </div>
                        <div class="fcrse_3">
                            <div class="cater_ttle">
                                <h4>Top Categories</h4>
                            </div>
                            <ul class="allcate15">
                                <li><a href="#" class="ct_item"><i class="uil uil-arrow"></i>Development</a></li>
                                <li><a href="#" class="ct_item"><i class="uil uil-graph-bar"></i>Business</a></li>
                                <li><a href="#" class="ct_item"><i class="uil uil-monitor"></i>IT and Software</a></li>
                                <li><a href="#" class="ct_item"><i class="uil uil-ruler"></i>Design</a></li>
                                <li><a href="#" class="ct_item"><i class="uil uil-chart-line"></i>Marketing</a></li>
                                <li><a href="#" class="ct_item"><i class="uil uil-book-open"></i>Personal Development</a></li>
                                <li><a href="#" class="ct_item"><i class="uil uil-camera"></i>Photography</a></li>
                                <li><a href="#" class="ct_item"><i class="uil uil-music"></i>Music</a></li>
                            </ul>
                        </div>
                        <div class="strttech120">
                            <h4>Become an Instructor</h4>
                            <p>Top instructors from around the world teach millions of students on Cursus. We provide the tools and skills to teach what you love.</p>
                            <button class="Get_btn" onclick="window.location.href = '#';">Start Teaching</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12">
                    <div class="section3125 mt-30">
                        <h4 class="item_title">What Our Student Have Today</h4>
                        <div class="la5lo1">
                            <div class="owl-carousel Student_says owl-theme">
                                <div class="item">
                                    <div class="fcrse_4 mb-20">
                                        <div class="say_content">
                                            <p>"Donec ac ex eu arcu euismod feugiat. In venenatis bibendum nisi, in placerat eros ultricies vitae. Praesent pellentesque blandit scelerisque. Suspendisse potenti."</p>
                                        </div>
                                        <div class="st_group">
                                            <div class="stud_img">
                                                <img src="/curus/images/left-imgs/img-4.jpg">
                                            </div>
                                            <h4>Jassica William</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_4 mb-20">
                                        <div class="say_content">
                                            <p>"Cras id enim lectus. Fusce at arcu tincidunt, iaculis libero quis, vulputate mauris. Morbi facilisis vitae ligula id aliquam. Nunc consectetur malesuada bibendum."</p>
                                        </div>
                                        <div class="st_group">
                                            <div class="stud_img">
                                                <img src="/curus/images/left-imgs/img-1.jpg">
                                            </div>
                                            <h4>Rock Smith</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_4 mb-20">
                                        <div class="say_content">
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos eros ac, sagittis orci."</p>
                                        </div>
                                        <div class="st_group">
                                            <div class="stud_img">
                                                <img src="/curus/images/left-imgs/img-7.jpg">
                                            </div>
                                            <h4>Luoci Marchant</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_4 mb-20">
                                        <div class="say_content">
                                            <p>"Nulla bibendum lectus pharetra, tempus eros ac, sagittis orci. Suspendisse posuere dolor neque, at finibus mauris lobortis in. Pellentesque vitae laoreet tortor."</p>
                                        </div>
                                        <div class="st_group">
                                            <div class="stud_img">
                                                <img src="/curus/images/left-imgs/img-6.jpg">
                                            </div>
                                            <h4>Poonam Sharma</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="fcrse_4 mb-20">
                                        <div class="say_content">
                                            <p>"Curabitur placerat justo ac mauris condimentum ultricies. In magna tellus, eleifend et volutpat id, sagittis vitae est. Pellentesque vitae laoreet tortor."</p>
                                        </div>
                                        <div class="st_group">
                                            <div class="stud_img">
                                                <img src="/curus/images/left-imgs/img-3.jpg">
                                            </div>
                                            <h4>Davinder Singh</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer mt-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer_bottm">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="fotb_left">
                                    <li>
                                        <a href="index.html">
                                            <div class="footer_logo">
                                                <img src="/curus/images/logo1.svg">
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <p>© 2023 <strong>ArtisanELearningSystem</strong>. All Rights Reserved.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div class="edu_social_links">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>




    <script src="/curus/js/vertical-responsive-menu.min.js"></script>
    <script src="/curus/js/jquery-3.3.1.min.js"></script>

    <script src="/curus/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/curus/vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="/curus/vendor/semantic/semantic.min.js"></script>
    <script src="/curus/js/custom.js"></script>
    <script src="/curus/js/night-mode.js"></script>

 @*   <script>
       
        // Listen for clicks on category links
        $(".channel_item").on("click", function (e) {
           
            e.preventDefault();
            
            // Get the clicked category
            var selectedCategory = $(this).data("category");
            

            // Loop through each course and show/hide based on categories
            $(".fcw .item").each(function () {
                alert("I got here");
                var courseCategories = $(this).data("categories").split(",");
                alert(courseCategories);
                if (courseCategories.includes(selectedCategory) || selectedCategory === "All") {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    </script>*@

    <script>
        // Function to fetch courses by category and render them
        function fetchCoursesByCategory(category) {
            $.ajax({
                url: `/api/courses/${category}`, // Update with your backend API endpoint
                method: "GET",
                success: function (data) {
                    renderCourses(data);
                },
                error: function (error) {
                    console.log("Error fetching courses:", error);
                }
            });
        }

        // On category link click
        $(".channel_item").on("click", function (e) {
            e.preventDefault();

            // Get the clicked category
            var selectedCategory = $(this).data("category");

         
            // Fetch courses by category and render them
            fetchCoursesByCategory(selectedCategory);
        });

        function renderCourses(courses) {
            
            const coursesContainer = document.getElementById('courses-container');
               let coursesHtml = ''; // Initialize an empty string to accumulate course HTML          
           
            courses.forEach(function (course) {
                const courseDetailUrl = `@Url.Action("CourseDetailView", "Course")? id = ${course.id}`; // Retrieve the data attribute value

               
                coursesHtml += `
                    <div class="fcrse_1 mb-20">
                                    <a href="${courseDetailUrl}" class="fcrse_img">
                                <img src="/posters/${course.poster}">
                                <div class="course-overlay">
                                    <span class="play_btn1"><i class="uil uil-play"></i></span>
                                    <div class="crse_timer">
                                       
                                    </div>
                                </div>
                            </a>
                            <div class="fcrse_content">
                                <!-- Course content details -->
                                                <a href="${courseDetailUrl}" class="crse14s">${course.description}</a>
                                <a href="#" class="crse-cate">${course.category} | ${course.level}</a>
                                <div class="auth1lnkprce">
                                    <p class="cr1fot">By <a href="#">${course.instructor?.name}</a></p>
                                    <div class="prce142">
                                        $${(course.price - course.discount).toFixed(2)}
                                    </div>
                                    <button class="shrt-cart-btn" title="cart"><i class="uil uil-shopping-cart-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    `;

                // Set the accumulated course HTML to the coursesContainer
                coursesContainer.innerHTML = coursesHtml;
               
            });
        }
    </script>


</body>

<!-- Mirrored from gambolthemes.net/html-items/cursus_main_demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 May 2023 11:59:19 GMT -->
</html>