@model IEnumerable<ArtisanELearningSystem.Entities.Course>

@{
    ViewData["Title"] = "Purchased Courses";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="st_title"><i class="uil uil-book-alt"></i>Purchased Courses</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="my_courses_tabs mp-30">
                <div class="table-responsive ">
                    <table class="table ucp-table" id="content-table">
                        <thead class="thead-s">
                            <tr>
                                <th scope="col">Item No.</th>
                                <th scope="col">Title</th>
                                <th scope="col">Vendor</th>
                                <th scope="col">Category</th>
                                <th scope="col">Level</th>
                                <th scope="col">Price</th>
                                <th scope="col">Purchase Date</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
@if (Model != null && Model.Any())
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>   @Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>   @Html.DisplayFor(modelItem => item.Title)</td>
                                        <td><a href="#">   @Html.DisplayFor(modelItem => item.Instructor.Name)</a></td>
                                        <td><a href="#">   @Html.DisplayFor(modelItem => item.Category)</a></td>
                                        <td><b class="course_active">   @Html.DisplayFor(modelItem => item.Level)</b></td>
                                        <td>
                                            @{
                                                decimal price = item.Price ?? 0;
                                                decimal discount = item.Discount ?? 0;
                                                decimal total = price - discount;
                                            }
                                            $@total.ToString("0.00")
                                        </td>
                                        <td>   @Html.DisplayFor(modelItem => item.DateCreated)</td>
                                        <td>
                                            <a asp-controller="Course" asp-action="CourseDetailView" asp-route-id="@item.Id" title="View" class="gray-s"><i class="uil uil-book-open"></i></a>
                                            <a href="#" title="Delete" class="gray-s"><i class="uil uil-trash-alt"></i></a>
                                            <a href="#" title="Print" class="gray-s"><i class="uil uil-print"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
