@using System.Linq
@{
    ViewData["Title"] = "Dashboard";

    // Check if the ViewBag values are present and cast them to integers
    int coursesCount = ViewBag.Courses?.Count ?? 0;
    int enrolledCoursesCount = ViewBag.EnrolledCourses?.Count ?? 0;

    // Perform the subtraction
    int difference = coursesCount - enrolledCoursesCount;

    int instructorCount = ViewBag.InstructorCount;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="st_title"><i class="uil uil-apps"></i> Student Dashboard</h2>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="card_dash">
                <div class="card_dash_left">
                    <h5>Total Purchased Courses</h5>
                    <h2>@ViewBag.EnrolledCourses.Count</h2>
                    <span class="crdbg_3">New @difference</span>
                </div>
                <div class="card_dash_right">
                    <img src="/curus/images/dashboard/online-course.svg" >
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="card_dash">
                <div class="card_dash_left">
                    <h5>Total Instrutors Subscribing</h5>
                    <h2>@instructorCount</h2>
                   @* <span class="crdbg_4">New 3</span>*@
                </div>
                <div class="card_dash_right">
                    <img src="/curus/images/dashboard/knowledge.svg" >
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="section3125 mt-50">
            <h4 class="item_title">Recommended Courses</h4>
            <a href="#" class="see150">See all</a>
            <div class="la5lo1">
                <div class="owl-carousel featured_courses owl-theme">

                    @foreach (var recommendedPath in ViewData["RecommendedCourses"] as List<RecommendedLearningPath>)
                    {
                        
                            @foreach (var course in recommendedPath.Courses)
                            {
                           

                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <a asp-controller="Course" asp-action="CourseDetailView" asp-route-id="@course.Id" class="fcrse_img">
                                        <img src="/posters/@course.Poster">
                                        <div class="course-overlay">
                                            <div class="badge_seller">@course.Badge</div>
                                            <div class="crse_reviews">
                                                <i class="uil uil-star"></i>@course.AverageRating
                                            </div>
                                            <span class="play_btn1"><i class="uil uil-play"></i></span>
                                            <div class="crse_timer">
                                                25 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <span><i class="uil uil-share-alt"></i>Share</span>
                                                <span><i class="uil uil-heart"></i>Save</span>
                                               
                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">@(@course.ViewCount!=null ? @course.ViewCount : "0" ) views</span>
                                            <span class="vdt14">@course.TimeAgo</span>
                                        </div>
                                        <a asp-controller="Course" asp-action="CourseDetailView" asp-route-id="@course.Id" class="crse14s">@course.Title</a>
                                        <a href="#" class="crse-cate">@course.Category | @course.Level</a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">By <a href="#">@course?.Instructor?.Name</a></p>
                                            <div class="prce142">
                                                @{
                                                    decimal pricer = course?.Price ?? 0;
                                                    decimal discountr = course?.Discount ?? 0;
                                                    decimal totalr = pricer - discountr;
                                                }
                                                $@totalr.ToString("0.00")
                                            </div>
                                            <button class="shrt-cart-btn" title="cart"><i class="uil uil-shopping-cart-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        
                    }
                   
                   
                </div>
            </div>
        </div>
        <div class="section3125 mt-30">
            <h4 class="item_title">Available Courses for Enrollment</h4>
            <a href="#" class="see150">See all</a>
            @if (ViewBag.Courses.Count > 0)
            {
                <div class="la5lo1">
                    <div class="owl-carousel featured_courses owl-theme">
                        @foreach (var item in ViewBag.Courses)
                        {
                    <div class="item">
                        <div class="fcrse_1 mb-20">
                            <a asp-controller="Course"  asp-action="CourseDetailView" asp-route-id="@item.Id" class="fcrse_img">
                                        <img src="/posters/@item.Poster">
                                <div class="course-overlay">
                                    <span class="play_btn1"><i class="uil uil-play"></i></span>
                                    <div class="crse_timer">
                                                
                                    </div>
                                </div>
                            </a>
                            <div class="fcrse_content">
                                <div class="eps_dots more_dropdown">
                                    <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                    <div class="dropdown-content">
                                        <span><i class="uil uil-share-alt"></i>Share</span>
                                        <span><i class="uil uil-heart"></i>Save</span>
                                        
                                    </div>
                                </div>
                                <div class="vdtodt">
                                   <span class="vdt14">@(@item.ViewCount != null ? @item.ViewCount : "0") views</span>
                                    <span class="vdt14">@item.TimeAgo</span>
                                </div>
                                        <a asp-controller="Course" asp-action="CourseDetailView" asp-route-id="@item.Id" class="crse14s">@item.Title</a>
                                <a href="#" class="crse-cate">@item.Category | @item.Level</a>
                                <div class="auth1lnkprce">
                                    <p class="cr1fot">By <a href="#">@item.Instructor.Name</a></p>
                                            <div class="prce142">
                                                @{
                                                    decimal price = item.Price ?? 0;
                                                    decimal discount = item.Discount ?? 0;
                                                    decimal total = price - discount;
                                                }
                                                $@total.ToString("0.00")
                                            </div>
                                    <button class="shrt-cart-btn" title="cart"><i class="uil uil-shopping-cart-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                  
                </div>
            </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
