@model CourseDiscussionViewModel

@{
    ViewData["Title"] = "Messages";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="st_title"><i class="uil uil-comments"></i> Messages</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="all_msg_bg">
                <div class="row no-gutters">
                    <div class="col-xl-4 col-lg-5 col-md-12">
                        <div class="msg_search">
                            <div class="ui search focus">
                                <div class="ui left icon input swdh11 swdh15">
                                    <input class="prompt srch_explore" type="text" placeholder="Search Messages...">
                                    <i class="uil uil-search-alt icon icon8"></i>
                                </div>
                            </div>
                        </div>
                        <div class="simplebar-content-wrapper">
                            <div class="group_messages">
                                @foreach (var discussion in ViewBag.Discussions)
                                {
                                    <div class="chat__message__dt active">
                                        <div class="user-status">
                                            <div class="user-avatar">
                                                <img src="/curus/images/left-imgs/img-1.jpg">
                                                <div class="msg__badge">2</div>
                                            </div>
                                            <p class="user-status-title"><span class="bold">@discussion.UserId</span></p>
                                            <p class="user-status-text">@discussion.Content</p>
                                            <p class="user-status-time floaty">@discussion.Timestamp.ToString("MMM d, h:mm tt")</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-12">
                        <div class="chatbox_right">
                            <div class="chat_header">
                                <div class="user-status">
                                    <div class="user-avatar">
                                        <img src="/curus/images/left-imgs/img-1.jpg">
                                    </div>
                                    <p class="user-status-title"><span class="bold">@ViewBag.LoggedInUser.Name</span></p>
                                    <p class="user-status-tag online">Online</p>
                                    <div class="user-status-time floaty eps_dots eps_dots5 more_dropdown">
                                        <a href="#"><i class="uil uil-ellipsis-h"></i></a>
                                        <div class="dropdown-content">
                                            <span><i class="uil uil-trash-alt"></i>Delete</span>
                                            <span><i class="uil uil-ban"></i>Block</span>
                                            <span><i class="uil uil-windsock"></i>Report</span>
                                            <span><i class="uil uil-volume-mute"></i>Mute</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="messages-line simplebar-content-wrapper2 scrollstyle_4">
                                <div class="mCustomScrollbar">
                                    @foreach (var discussion in ViewBag.Discussions)
                                    {
                                        <div class="main-message-box @((discussion.UserId == ViewBag.LoggedInUser.StudentId) ? "ta-right" : "st3")">
                                            <div class="message-dt @((discussion.UserId == ViewBag.LoggedInUser.StudentId) ? "" : "st3")">
                                                <div class="message-inner-dt">
                                                    <p>@discussion.Content</p>
                                                </div>
                                                <span>@discussion.Timestamp.ToString("MMM d, h:mm tt")</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="message-send-area">
                                <form method="post" asp-controller="Course" asp-action="AddPost" >
                                    <div class="mf-field">
                                        <input type="hidden" asp-for="CourseId" />
                                        <div class="ui search focus input__msg">
                                            <div class="ui left icon input swdh19">
                                                <input class="prompt srch_explore" type="text" id="chat-widget-message-text-2" asp-for="NewPostContent" placeholder="Write a message...">
                                            </div>
                                        </div>
                                        <button class="add_msg" type="submit"><i class="uil uil-message"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
